<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title></title>
    <style>
        @import url('https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900');
        .foot-col-2 {
            flex: 1;
            text-align: center;
        }
        
        .foot-col-2 img {
            width: 180px;
            margin-bottom: 20px;
        }
        
        .app-logo {
            margin-top: 20px;
        }
        
        .app-logo img {
            width: 140px;
        }
    </style>
</head>
{% csrf_token %}

<body style="background: #f5f8fa;font-family: 'Roboto', sans-serif;">
    <div style="width: 90%;max-width:600px;margin: 20px auto;background: #ffffff;">
        <section style="margin: 0 15px;color:#425b76;">
            <h2 style="margin: 40px 0 27px 0;text-align: center;">Thank you to registration</h2>
            <hr style="border:0;border-top: 1px solid rgba(66,91,118,0.3);max-width: 50%">
            <p style="font-size:15.5px;font-weight: bold;margin:40px 20px 15px 20px;">Hi {{username}}, we have received your details and will process soon.</p>
            <div class="foot-col-2 app-logo">
                <a href="/"><img src="https://i.pinimg.com/originals/5f/8c/cf/5f8ccf30ad5706df5f316f23f0b3d16b.png" alt=""></a>
                <a href="/" style="text-decoration: none;">
                    <h3><span class="head1">Quiz </span><span class="head2">Exam</span></h3>
                </a>

            </div>
        </section>
    </div>
</body>

</html>